<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= siteName %></title>
    <meta name="csrf-token" content="<%= typeof csrfToken !== 'undefined' ? csrfToken : '' %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_2wb.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_2wb-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_2wb-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta name="title" content="Two Worms bakery">
    <meta name="description" content="Two Worms Bakery: Artisan breads, whimsical pastries, and specialty coffee. Organic ingredients, eco-friendly. Visit us for a delightful experience!">
    <meta name="keywords" content="bakery, 2wb, whimsical">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Thu Huong, Van Nhi">

    <meta property="og:title" content="Two Worms bakery" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/Thuhuong554/2SS_website.github.io/5c00deb990cad2e4646d6b7d0b2d1084b74640a5/webapp/public/img/logo.svg" />

    <meta name="twitter:title" content="Two Worms bakery">
    <meta name="twitter:description" content="Two Worms Bakery: Artisan breads, whimsical pastries, and specialty coffee. Organic ingredients, eco-friendly. Visit us for a delightful experience!">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/Thuhuong554/2SS_website.github.io/5c00deb990cad2e4646d6b7d0b2d1084b74640a5/webapp/public/img/logo.svg">
    <meta name="twitter:card" content="Two Worms bakery">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <% styles.forEach(function(file) { %>
        <link rel="stylesheet" href="<%= file.path %>">
    <% }); %>
</head>
<body class="bg-seashell">


<% if (isHomePage) { %>
    <%- header %>
<% } else { %>
    <%- include('../partials/header'); %>
<% } %>

<%- body %>

<%- include('../partials/footer'); %>

<%- include('../partials/overlays'); %>

<% scripts.forEach(function(file) { %>
    <script type="<%= file.type %>" src="<%= file.path %>"></script>
<% }); %>

<!-- Additional scripts customized for specific screens -->
<%- script %>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JR07Z9ECY2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-JR07Z9ECY2');
</script>
</body>
</html>